[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/bee-envsys-cornell/hw01
	branch = Fall26
[submodule "hw/hw02"]
	path = hw/hw02
	url = https://github.com/bee-envsys-cornell/hw02
	branch = Fall26
[submodule "hw/hw03"]
	path = hw/hw03
	url = https://github.com/bee-envsys-cornell/hw03
	branch = Fall26
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/bee-envsys-cornell/lab01
	branch = Fall26
[submodule "hw/hw04"]
	path = hw/hw04
	url = https://github.com/bee-envsys-cornell/hw04
	branch = Fall26
[submodule "mini-project/mp01"]
	path = mini-project/mp01
	url = https://github.com/bee-envsys-cornell/mp01
	branch = Fall26
